
.footer-background {
	/*background-color: black;*/
	height: 300px;
}

#header {
	top: 0px;
	left: 0px;
	position: fixed;
}
.container.top {
	position: relative;
	color: white;
	padding-top: 100px;
}
.container.top p {
	padding-top: 30px;
}

h1 {
	font-size: 64px !important;
	padding-top: 100px;
	line-height: 100%;
}
.row {
	padding-bottom: 40px;
}

h4{
	margin-top: 15vh;
	margin-left: 10px;
}
/*.col-content * {
	max-width: 200px;
}*/
.parallax-container {
      height: 100vh;
    }

.material-icons{
	padding-left: 180px;
}

.wrapper{
	background-color: white;
	margin-top: 100px;
}

a.linkas{
	color: black;
}
.footer-background{
	min-height: 300px;
	bottom: 0px;
	align-content: center;
}

.footer-background p {
	font-size: 12px;
	color: white;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 3px;
}

.footer-antreaste{
	font-size: 20px;
}

.rekvizitai{
	margin-top: 200px;
	margin-bottom: 25px;
	position: relative;

}

nav.nav-wrapper * {
	top: 0px;
	left: 0px;
	position: fixed !important;
}


#foot{
	height: 300px;
}

.col.btn-size{
	height: 300px;
}

.btn-large {
	height: 150px;
}

nav i.material-icons.logosize { 
font-size: 64px;
position: fixed !important;
}

.img-size {
	height: 128px;
}
.img-size2 {
	height: 28px;
	width: 28px;
	margin-right: 10px;
	vertical-align: middle; 
}

h2 {
	font-size: 32px;
}


.overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
} 


.img-size-news.vienas.du.trys.keturi {
	width: 400px;

	height: 250px;
	object-fit: cover;


}
.card-content{
	max-height: 200px;
}
.card-stacked {
	height: 250px;
}

.card-action{
    bottom: 0px;
}

.parallax {
    /*position: unset !important;*/

}

.cover {
	/*width: 200px;*/
	object-fit: cover;
	}

.atsitiktinisContainer {
    padding-top: 0px;
	}

.top{
	position: relative;
	color: white;
	}

.fonasUztamsinimas{
	position: absolute;
    top: 0px;
    right:0px;
    width: 100%;
    height: 100%;
    background: #112;
    opacity: 0.2;
    /*filter: blur(100px);*/
	}
.card.horizontal{
border: solid gray 1px;}

#titulinis-aprasymas {
	max-width: 60vh;
}

.stilius {
	display: inline-block; 
	float: left;
}
.spalva {
	color: white;
}
